asgiref==3.11.1 ; python_version >= "3.14"
dj-database-url==3.1.2 ; python_version >= "3.14"
django==4.2.29 ; python_version >= "3.14"
djangorestframework==3.17.1 ; python_version >= "3.14"
gunicorn==25.3.0 ; python_version >= "3.14"
packaging==26.0 ; python_version >= "3.14"
psycopg2-binary==2.9.11 ; python_version >= "3.14"
sqlparse==0.5.5 ; python_version >= "3.14"
tzdata==2026.1 ; python_version >= "3.14" and sys_platform == "win32"
whitenoise==6.12.0 ; python_version >= "3.14"
