# Web server
gunicorn==25.3.0

# Database
psycopg2-binary==2.9.11
dj-database-url==3.1.2

# Django and REST framework
django==4.2.29
djangorestframework==3.17.1
asgiref==3.11.1
sqlparse==0.5.5

# Static files
whitenoise==6.12.0

# Packaging tools
packaging==26.0

# Timezone data (works for all platforms)
tzdata==2026.1
